/* speech class will be used for spoken text*/

.speech{font-family:'Times New Roman', Times, serif; 
    color:black; 
    font-size:24;
}
/*direction class will be used for the non-spoken directions in the play*/

.direction {font-family:'Courier New', Courier, monospace;
     font-size: 18;
}
/*using a hover on direction class*/

.direction:hover{color: black;
     background-color: bisque;
}
/*styling each character*/
.Stockmann{color:blue;}
.Kiil{color: brown;}
.drStockmann{color:chartreuse;}

